*.bak
*.egg
*.egg-info
*.eggs
*.pyc
*.pyd
*.pyo
*.so
*.tar.gz
*~
.DS_Store
.coverage
.installed.cfg
.noseids
.tox
.vimrc
aiohttp/_multidict.c
aiohttp/_multidict.html
bin
build
cover
coverage
develop-eggs
eggs
nosetests.xml
parts
pyvenv
sources
venv
virtualenv.py
